@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
    ViewBag.Title = "Home Page";
}
<div id="preloader"></div>
@Html.Action("HomeHeaderSection", "Home")
@Html.Action("HomeProductGroup", "Home")
<div class="container main-wrapper">
    <!-- Content -->
    <div class="inner-page text-page margin-bottom">
        <div class="row">
            <div class=" col-md-12 text-page">
                <article id="post-5151" class="post-5151 page type-page status-publish hentry">
                    <div class="entry-content clearfix" id="entry-div">

                        @Html.Action("SliderShowSection", "Home")

                        <div class="vc_row-full-width vc_clearfix"></div>

                        @Html.Action("HomeHistory", "Home")

                        <div class="vc_row-full-width vc_clearfix"></div>
                        @Html.Action("HomeTeam", "Home")

                        <div class="vc_row-full-width vc_clearfix"></div>
                        @Html.Action("NewArticle", "Home")

                        <div class="vc_row-full-width vc_clearfix"></div>
                        <section class="vc_section vc_custom_1541977061691 vc_section-has-fill">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="ltx-partners ltx-hover-logos  layout-"
                                                 id="like_sc_header_1555762055">
                                                <div class="row">
                                                    <div class=" col-md-2  col-sm-4 col-ms-6 col-xs-6  partners-wrap  center-flex"
                                                         data-mh="ltx-partners">
                                                        <div class="partners-item item center-flex">
                                                            <div class="photo">
                                                                <img src="~/Content/client/assets/uploads/2018/11/l1-125x125.png"
                                                                     class="image" alt=".">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-2  col-sm-4 col-ms-6 col-xs-6  partners-wrap  center-flex"
                                                         data-mh="ltx-partners">
                                                        <div class="partners-item item center-flex">
                                                            <div class="photo">
                                                                <img src="~/Content/client/assets/uploads/2018/11/l2-125x125.png"
                                                                     class="image" alt=".">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-2  col-sm-4 col-ms-6 col-xs-6  partners-wrap  center-flex"
                                                         data-mh="ltx-partners">
                                                        <div class="partners-item item center-flex">
                                                            <div class="photo">
                                                                <img src="~/Content/client/assets/uploads/2018/11/l3-125x125.png"
                                                                     class="image" alt=".">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-2  col-sm-4 col-ms-6 col-xs-6  partners-wrap  center-flex"
                                                         data-mh="ltx-partners">
                                                        <div class="partners-item item center-flex">
                                                            <div class="photo">
                                                                <img src="~/Content/client/assets/uploads/2018/11/l4-125x125.png"
                                                                     class="image" alt=".">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-2  col-sm-4 col-ms-6 col-xs-6  partners-wrap  center-flex"
                                                         data-mh="ltx-partners">
                                                        <div class="partners-item item center-flex">
                                                            <div class="photo">
                                                                <img src="~/Content/client/assets/uploads/2018/11/l5-125x125.png"
                                                                     class="image" alt=".">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-2  col-sm-4 col-ms-6 col-xs-6  partners-wrap  center-flex"
                                                         data-mh="ltx-partners">
                                                        <div class="partners-item item center-flex">
                                                            <div class="photo">
                                                                <img src="~/Content/client/assets/uploads/2018/11/l6-125x125.png"
                                                                     class="image" alt=".">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        @Html.Action("BestsellersProducts", "Home")
                    
                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                </article>
            </div>

        </div>
    </div>

</div>





